.add-form-container {
  text-align: center;
}

.form-A,
.form-B,
.form-C,
.form-container{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.text-form,
.text-form-c {
  width: 100%;
  font-size: 14pt;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.header-info p {
  text-align: center; 
}

.header-info h2 {
  text-align: center;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-element label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}
.text-form, .date-form {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}
.text-form:focus, .date-form:focus {
  border-color: #ffdd00;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
.submit-button-container {
  text-align: center;
}
.submit-button-container button {
  width: 250%;
  padding: 10px;
  background-color: #FFD400;
  color: #000000;
  font-weight: 550;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.submit-button-container button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.list-group{
  display: flex;
  flex-direction: column;
  /*background-color: #007aff;*/
  margin-left: 35vw;
}
