.champions-page {
    padding: 20px;
}

.champions-page h1 {
    text-align: center;
}

.champions-page p {
    text-align: center;
    margin-bottom: 20px;
}

.champions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.champions-table th, .champions-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.champions-table th {
    background-color: #FFD400;
    color: black;
}

.champions-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.champions-table tr:hover {
    background-color: #ddd;
}

.champions-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
