.gp-add-form-container {
  text-align: center;
}

.gp-text-form {
  width: 100%;
  font-size: 14pt;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.gp-header-info p,
.gp-header-info h2
 {
  text-align: center;
}

.gp-submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.gp-submit-button-container button {
  width: 250%;
  padding: 10px;
  background-color: #FFD400;
  color: #000000;
  font-weight: 550;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center
}